---
import FramerSection from '../FramerSection.tsx'
import OptimizedImage from '../OptimizedImage.astro'
import experienceIcon from '../../assets/experience.png'
import educationIcon from '../../assets/education.png'
import arrowIcon from '../../assets/arrow.png'
import { getOptimizedImage } from '../ImageAssets'
const { title, subtitle, about } = Astro.props
---

<FramerSection client:load className="about">
	<div id="about" class="anchor"></div>
	<p class="section__text__p1">{subtitle}</p>
	<h2 class="title">{title}</h2>
	<div class="section-container">
		<div class="section__pic-container">
			<OptimizedImage
				src={getOptimizedImage(about.image)}
				alt="Profile picture"
				loading="lazy"
				decoding="async"
			/>
		</div>
		<div class="about-details-container">
			<div class="about-containers">
				{
					about.experience.length && (
						<div class="details-container">
							<OptimizedImage
								src={experienceIcon}
								alt="experience icon"
								class="icon"
								width={32}
								height={32}
							/>
							<h3>Experience</h3>
							{about.experience.map((item: string) => (
								<p>{item}</p>
							))}
						</div>
					)
				}
				{
					about.education.length && (
						<div class="details-container">
							<OptimizedImage
								src={educationIcon}
								alt="education icon"
								class="icon"
								width={32}
								height={32}
							/>
							<h3>Education</h3>
							{about.education.map((item: string) => (
								<p>{item}</p>
							))}
						</div>
					)
				}
			</div>
			<div class="text-container">
				<p>{about.text}</p>
			</div>
		</div>
	</div>
	<OptimizedImage
		src={arrowIcon}
		alt="Arrow icon"
		class="icon arrow"
		onclick="location.href='#experience'"
		width={32}
		height={32}
	/>
</FramerSection>
